.certificate {
   .certificate__title {
      margin-bottom: 20px;
      font-size: 3rem;
      text-align: center;
   }
   .certificate__inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      font-size: 0;
   }
   .certificate__item  {
      margin-bottom: 20px;
      &:hover {
         transform: translate3d(10px, -10px, 10px);
         box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.472);
      }
      img {
      width: 320px;
      height: 220px;
      }
   }
}