.container {
  margin: 10px 15px;
  max-width: 1040px;
  background: linear-gradient(100deg, #ccffff96, #ffcccc93);
  transition: background-color .2s linear;
  box-shadow: 0px 0px 30px 1px rgba(128, 128, 128, 0.863);
  -webkit-box-shadow: 0px 0px 30px 1px rgba(128, 128, 128, 0.863);
  -moz-box-shadow: 0px 0px 30px 1px rgba(128, 128, 128, 0.863);
  border-radius: 10px;
  .container__inner{
    margin-bottom: 15px;
    padding: 40px;
    display: flex;
    justify-content: center;
  }
}

.header{
  width: 70%;
  display: flex;
  align-items: center;
  border-right: 1px solid rgba(94, 94, 94, 0.253);

  .header__photo {
  max-width: 150px;
  max-height: 180px;
  box-shadow: 0px 0px 30px 1px rgba(128, 128, 128, 0.863);
  -webkit-box-shadow: 0px 0px 30px 1px rgba(128, 128, 128, 0.863);
  -moz-box-shadow: 0px 0px 30px 1px rgba(128, 128, 128, 0.863);
  >img {
    max-width: 150px;
    max-height: 180px;
    }
  }
  .header__text {
    margin-left: 20px;
  }  
  .profile__name {
    font-size: 3rem;
    text-transform: uppercase;
  }
  .profile__job{
    font-size: 2rem;
    text-transform: uppercase;
  }
  .profile__about-me {
    margin-top: 20px;
    font-size: 1.2rem;
  }
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 12px;
  font-size: 1.2rem;
  text-transform: uppercase;
  li {
    margin-bottom: 15px;
  }
}

.nav__inner {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff98;
  border-radius: 10px;
  a {
    color: #000;
    text-decoration: none;
    
  }
  .nav__item {
    width: 170px;
    padding: 15px 0;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-radius: 10px;
    transition: transform .3s linear;
    &:hover {
      color: #000;
      background-color: #fff;
      transform: scale(1.2, 1.2);
      box-shadow: 0px 0px 30px 1px#9b9b9b96;
      -webkit-box-shadow: 0px 0px 30px 1px #9b9b9b96;
      -moz-box-shadow: 0px 0px 30px 1px #9b9b9b96;
    }
    &:active {
      color: #000;
      background-color: #fff;
      box-shadow: 0px 0px 30px 1px #9b9b9b96;
      -webkit-box-shadow: 0px 0px 30px 1px #9b9b9b96;
      -moz-box-shadow: 0px 0px 30px 1px #9b9b9b96;
    }
    p {
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}

.footer {
  margin-top: 20px;
  padding: 10px;
  .copyright {
    font-size: 1.2rem;
  }
}

.menu {
  z-index:999;
  position:fixed;
  top: 30px;
  right: 30px;
   padding:0;
   margin:0;
   list-style-type:none;
   .share{
     i.fa{
       height:50px;
       width:50px;
       text-align:center;
       line-height:50px;
       background-color: #fff;
       border-radius:2px;
       font-size: 2rem;
      }
     &:hover{
       &.bottom {
         .submenu{
           @for $i from 1 through 5{
             li:nth-child(#{$i}){
               opacity:1;
               top:#{$i*50}px;
               transform:rotate(0deg);
               border-top:1px dashed darken(#fff,20%);
               transition-delay:#{$i*0.08}s;
             }
           }
         }
       }
     }
   }
  .submenu{
    list-style-type:none;
    padding:0;
    margin:0;
    li{
      transition:all ease-in-out 0.5s;
      position:absolute;
      top: 0;
      left: 0;
      z-index:-1;
      opacity:0;
      a {
        color: #000000;
        &:hover{
        i.fa{
          color:rgb(0, 0, 0);
        }
        &.linkedin{
          i.fa{
            background-color: #55acee;
          }
        }
        &.github{
          i.fa{
            background-color: #949494;
          }
        }
        &.instagram{
          i.fa{
            background-color: #ee617b;
          }
          }
        }
      }
    }
    @for $i from 1 through 4{
      li:nth-child(#{$i}){
        transform:rotateX(#{$i*45}deg);
      }
    }
  }
}

// MEDIA QUERIES
@media (min-width: 768px) and (max-width: 991px) {
  .header {
    .header__text {
      margin-left: 10px;
      padding-left: 10px;
    }
    .profile__name {
      font-size: 1.5rem;
    }
    .profile__job{
      font-size: 1rem;
    }
    .profile__about-me {
      font-size: 1rem;
    }
  }

  .information {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .container {
    .container__inner {
      flex-wrap: wrap;
      padding: 20px;
    }
  }

  .header {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    border-right: none;
    border-bottom: 1px solid rgba(94, 94, 94, 0.253);
    .header__photo {
      max-width: 150px;
      max-height: 180px;
      >img {
        display: none;
      }
    }
    .header__text {
      margin-left: 10px;
    }
    .profile__name {
      font-size: 1.5rem;
      font-weight: 700;
    }
    .profile__job{
      font-size: 1rem;
      font-weight: 700;
    }
    .profile__about-me {
      margin: 10px 0 10px 0;
      font-size: 1rem;
      align-items: center;
    }
  }

  .information {
    width: 100%;
    flex-wrap: wrap;
    margin-top: 10px;
    padding-left: 10px;
    font-size: 1rem;
    li {
     margin-bottom: 10px;
    }
  }

  .nav__inner {
    flex-wrap: wrap;
    a {
     color: #000;
     text-decoration: none;
    }
    .nav__item {
      width: 100px;
    }
  }

  .menu {
    .share{
      i.fa{
        font-size: 1.5rem;
      }
    }
  }
}

@media (max-width: 480px) {
  .container {
    .container__inner {
      flex-wrap: wrap;
      padding: 20px;
    }
  }

  .header {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    border-right: none;
    border-bottom: 1px solid rgba(94, 94, 94, 0.253);
    .header__photo {
      max-width: 150px;
      max-height: 180px;
      >img {
        display: none;
      }
    }
    .header__text {
      margin-left: 10px;
    }
    .profile__name {
      font-size: 1.5rem;
      font-weight: 700;
    }
    .profile__job{
      font-size: 1rem;
      font-weight: 700;
    }
    .profile__about-me {
      margin: 10px 0 10px 0;
      font-size: 1rem;
      align-items: center;
    }
  }

  .information {
    width: 100%;
    flex-wrap: wrap;
    margin-top: 10px;
    padding-left: 10px;
    font-size: 1rem;
    li {
     margin-bottom: 10px;
    }
  }

  .nav__inner {
    flex-wrap: wrap;
    a {
     color: #000;
     text-decoration: none;
    }
    .nav__item {
      width: 170px;
    }
  }

  .menu {
    .share{
      i.fa{
        font-size: 1.5rem;
      }
    }
  }
}

